html{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    color: white;
    margin: 0px;
    line-height: 150%;
}
body{
    margin: 0px;
}
#fejlec{
    background-image: url(img/kep1.jpg);
    height: 450px;
    background-position: center center;
    background-size: cover;
}
#bemutatkozas{
    background-color: #282424;
}
#menu{
    float: right;
    text-decoration: none;
    padding: 50px 30px 0px 0px;
}
a{
    color:white;
    text-decoration: none;
    padding: 0px 5px 0px 5px;
}
#focim{
    padding: 40px;
    float: left;
    margin: 0px;
}
h1{
    font-size: 170%;
}


#fokeret{
    width: 100%;
}
#tortenetunk{
    background-color: #222222;
    height: 300px;
    text-align: right;
    font-size: 85%;
}
#tort_bal{
    float: left;
    width: 35%;
    display: inline;
    padding: 40px 20px 156px 0px;
}
#tort_jobb{
    display: inline;
    width: 65%;
    text-align: left;
    height: 100%;
}
#tort_szoveg{
    margin: 0px;
    padding: 57.152px 300px 0px 0px;
    line-height: 150%;
}
#tortenetunk h3{
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 110%;
    color: rgb(116, 116, 116);
}
#foglalas{
    font-weight: bold;
    margin-top: 20px;
    padding-bottom: 6px;
    font-size: larger;
}



#ajanlatunk{
    height: 400px;
    background-color: #101010;
    text-align: center;
    font-size: 93%;
}
#ajanlatunk h1{
    padding: 60px 60px 10px 60px;
    margin: 0px;
}
#ajan_tartalom{
    width: 50%;
    margin: auto;
}
#ajanlatunk li{
    display: inline-block;
    border: 1px solid white;
    padding: 12px 50px 12px 50px;
    margin: 20px;
}
#ajanlatunk p{
    margin-bottom: 20px;
}
#ajanlatunk h3{
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 110%;
    color: rgb(116, 116, 116);
}


#special{
    height: 880px;
    background: #222222;
    text-align: center;
}

#special h1{
    padding: 60px 60px 10px 60px;
    margin: 0px;
}
#spec_tartalom{
    margin: auto;
    width: 65%;
}
#spec_bal{
    width: 70%;
    float: left;
}
#special h3{
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 110%;
    color: rgb(116, 116, 116);
}
#kep1{
    margin: 20px;
    height: 350px;
    background-image: url(img/kep1.jpg);
    background-position: center center;
    background-size: cover;
}
#kep3{
    background-image: url(img/kep3.jpg);
    float: left;
    width: 43%;
    height: 247.325px;
    margin: 20px 10px 20px 20px;
    background-size: cover;
    background-position: center center;
}
#kep4{
    background-image: url(img/kep4.jpg);
    float: right;
    width: 43%;
    height: 247.325px;
    margin: 20px 20px 20px 10px;
    background-size: cover;
    background-position: center center;
}


#spec_jobb{
    float: right;
    width: 30%;
}
#kep2{
    height: 450px;
    margin: 10px;
    background-image: url(img/kep2.jpg);
    background-position: center;
    background-size: cover;
}
#kep5{
    background-image: url(img/kep5.jpg);
    height: 170px;
    background-size: cover;
    background-position: center center;
    margin: 40px 10px 0px 10px;
}
#kep1 p{
    padding-top: 325px;
}
#kep3 p{
    padding-top: 205px;
}
#kep4 p{
    padding-top: 205px;
}
#kep2 p{
    padding-top: 425px;
}
#kep5 p{
    padding-top: 150px;
}
#special p{
    font-style: italic;
    font-weight: bold;
    font-size: 80%;
}



#nyitva{
    background-color: black;
    height: 500px;
    padding: 60px;
}
#nyit_bal{
    float: left;
    height: 500px;
    width: 30%;
    text-align: right;
}
#nyit_bal h3{
    padding-left: 80px;
    margin: 8px;
}
#nyit_kozep{
    float: left;
    height: 500px;
    width: 30%;
    margin-left: 30px;
}
#nyit_jobb{
    float: right;
    height: 500px;
    width: 30%;
    color: white;
    margin-left: 30px;
}
#nyit_tartalom{
    margin: auto;
    width: 65%;
}
#nyitva a{
    text-decoration: underline;
    font-weight: bold;
}
#nyitva hr{
    margin: 8px;
}
#nyitva p{
    margin: 8px;
}



#lablec{
    height: 200px;
    background-color: black;
    text-align: center;
}
#lablec_tartalom{
    width: 65%;
    margin: auto;
}
#lablec hr{
    margin: 0px;
}
#lablec p{
    padding: 40px;
    font-size: small;
}