html{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    color: white;
}
#fejlec{
    background-image: url(img/kep1.jpg);
    height: 500px;
    background-position: center;
}
#bemutatkozas{
    background-color: #282424;
}
#menu{
    float: right;
    text-decoration: none;
    padding: 50px 30px 0px 0px;
}
a{
    color:white;
    text-decoration: none;
    padding: 0px 5px 0px 5px;
}
h1{
    padding: 40px;
    float: left;
    margin: 0px;
}



#fokeret{
    width: 100%;
}